body 
{
background-color: lightgray;    
}
.app
{
width: 35%;
height: auto;
margin: auto;
margin-top: 10%;
padding: 25px;
background-color: cornflowerblue;
border-radius: 10px;    
}

.app input 
{
padding: 3px;    
}
.app button 
{
width: 170px;
height: auto;
padding: 4px; 
background-color: coral;
color: white;
border: none;   
}
#result
{
width: 75%;    
background-color: blueviolet;
padding: 3px;
color: white;
border-radius: 5px;
transition: 2s ease all;
display: none;    
}

@media only screen and (max-width:580px)
{
.app
{
width: 65%;
height: auto;
margin: auto;
margin-top: 10%;
padding: 45px;
background-color: cornflowerblue;
border-radius: 10px;    

}    
.app input 
{
width: 100%;    
padding: 8px;    
}
.app button 
{
width: auto;
height: auto;
padding: 12px; 
background-color: coral;
color: white;
border: none;   
}
} 